yc_config = {
  token     = ""
  cloud_id  = ""
  folder_id = ""
  zone      = "ru-central1-a"
}
yc_instance_user        = "ubuntu"
yc_instance_name        = "docker-vm"
yc_network_name         = "docker-network"
yc_subnet_name          = "docker-subnet"
yc_service_account_name = "docker-vm-sa"
yc_bucket_name          = "airflow-bucket"
yc_cold_bucket_name     = "cold-s3-bucket"
yc_storage_endpoint_url = "https://storage.yandexcloud.net"
ubuntu_image_id         = "fd84gfv9gc2h87jilum1" # Airflow image
public_key_path         = "/home/ubuntu/yc.pub"
private_key_path        = "/home/ubuntu/yc"
docker_hub_token        = ""
