yc_config = {
  token     = ""
  cloud_id  = ""
  folder_id = ""
  zone      = "ru-central1-a"
}
yc_instance_user        = "ubuntu"
yc_instance_name        = "airflow-vm"
yc_network_name         = "airflow-network"
yc_subnet_name          = "airflow-subnet"
yc_service_account_name = "airflow-vm-sa"
yc_bucket_name          = "airflow-bucket"
yc_cold_bucket_name     = "cold-s3-bucket"
yc_storage_endpoint_url = "https://storage.yandexcloud.net"
ubuntu_image_id         = "fd8829m2l6d5lu2qip10" # Airflow image
public_key_path         = "/home/ubuntu/yc.pub"
private_key_path        = "/home/ubuntu/yc"
airflow_db_conn_default = "postgresql+psycopg2://airflow:airflow@localhost/airflow"
yc_instance_mlflow_name = "mlflow-vm"
ubuntu_image_mlflow_id  = "fd84gfv9gc2h87jilum1"
yc_mysql_cluster_name   = "otus-mysql-cluster"
yc_mysql_version        = "8.0"
yc_mysql_environment    = "PRODUCTION"
mysql_database_name     = "otus-database"
mysql_user_name         = "otus-user"
mysql_user_password     = "otus-password"
yc_postgresql_cluster_name   = "otus-pgsql-cluster"
yc_postgresql_version        = "15"
yc_postgresql_environment    = "PRODUCTION"
postgresql_database_name     = "otus-database"
postgresql_user_name         = "otus-user"
postgresql_user_password     = "otus-password"
